
/* --- Destinations Page Specific Styles --- */
.hero-section-short {
    padding-top: 100px; /* To push content below the fixed navbar */
}

.hero-section-short h1.display-3 {
    color: #F8F8F8; /* White font color */
    font-weight: 700; /* Make it bolder */
    margin-bottom: 20px; /* Space between heading and subheading */
}

.hero-section-short p.lead {
}
